.checkout-container {
    position: fixed;
    padding-top: 100px;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 2;
}

.checkout-container h2 {
    margin-bottom: 0rem;
}

